<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>RustMX</title>
  <link rel="stylesheet" href= "/css/styles.css">
</head>

<body>
  <div class="bg-general">
    <header class="header">
      <div class="header-container">
        <a href="/" class="header-left-side">
          <img src="/img/rust-lang-ar-logo.png" class="header-logo">
          <h2 class="header-title">
            RustMX</h2>
        </a>
        <nav class="header-right-side">
          <a href="/about" class="header-nav-item">
            Acerca</a>
          <a href="/events" class="header-nav-item">
            Eventos</a>
          <a href="/resources" class="header-nav-item">
            Guía de Recursos</a>
        </nav>
      </div>
    </header>
    <section class="our-projects-section">
      <div class="our-projects-title-container">
        <span class="our-projects-title">
          {{ page.title }}
        </span>
      </div>
      <div class="about-container">
        <div class="about-left-side">
          <img src="/img/los-panas.jpeg" class="about-image">
        </div>
        <div class="about-right-side">
          <p class="about-description">
            {{ page.content | safe }}
          </p>
        </div>
      </div>
    </section>
  </div>
</body>

</html>