<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content= "width=device-width, initial-scale=1">
  <title>RustMX</title>
  <link rel="stylesheet" href= "/css/styles.css">
</head>
<body>
  <div class="bg-general">
    <header class="header">
      <div class="header-container">
        <a href="/" class="header-left-side"><img src= "/img/rust-lang-ar-logo.png" class="header-logo">
        <h2 class="header-title">RustMX</h2></a>
        <nav class="header-right-side">
          <a href="/about" class=
          "header-nav-item">Acerca</a><a href="/events" class=
          "header-nav-item">Eventos</a><a href="/resources" class=
          "header-nav-item">Guía de Recursos</a>
        </nav>
      </div>
    </header>
    <main class="hero-container">
      <img src="img/ferris.png" class= "w-full object-cover object-center max-w-[500px] mx-auto">
      <div class="hero-text-container">
        <h1 class="hero-title">¡La comunidad de Rust en Mexico esta
        creciendo!</h1>
        <h2 class="hero-subtitle">Si estas interesado o interesada
        en aprender Rust, o estas llevando a cabo un proyecto con
        tecnología asociada, te invitamos a acercarte y
        participar.</h2>
        <h2 class="hero-subtitle">Te dejamos:</h2>
      </div>
    </main>
    <section class="joinus-container">
      <div class="joinus-left-side">
        <div class="joinus-side-container">
          <div class="icon-container">
            <a href="https://www.meetup.com/es-ES/Rust-MX/" target= "_blank">
              <img alt="Meetup Icon" src="img/fa-brands_meetup.svg" class= "join-us-meetup-icon">
            </a>
          </div><a href="https://www.meetup.com/es-ES/Rust-MX/"
          target="_blank">¡Nuestro grupo de meetup!</a>
        </div>
      </div>
      <div class="joinus-center-side">
        <div class="joinus-side-container">
          <div class="icon-container">
            <a href="https://twitter.com/rustlang_mx" target= "_blank">
              <img alt="Meetup Icon" src= "img/fa-brands_twitter.svg" class=
            "join-us-twitter-icon"></a>
          </div><a href="https://twitter.com/rustlang_mx" target=
          "_blank">¡Nuestra cuenta de twitter!</a>
        </div>
      </div>
      <div class="joinus-right-side">
        <div class="joinus-side-container">
          <div class="icon-container">
            <a href="https://t.me/RustMX" target="_blank">
              <img alt="Telegram Icon" src="img/fa-brands_telegram.svg" class="join-us-telegram-icon">
            </a>
          </div><a href="https://t.me/RustMX" target=
          "_blank">¡Nuestro grupo de Telegram!</a>
        </div>
      </div>
    </section>
    <section class="about-container">
      <div class="about-left-side">
        <img src="img/rust-2018.jpeg" class="about-image">
      </div>
      <div class="about-right-side">
        <p class="about-description">Desde 2016 hemos organizado
        eventos en la ciudad.<br>
        Dando clases en universidades, charlas en eventos y
        acercando oradores del exterior para dar a conocer el
        lenguaje.</p><a href="/about" class=
        "about-action">Acerca</a>
      </div>
    </section>
    <section class="our-projects-section">
      <div class="our-projects-title-container">
        <span class="our-projects-title">Nuestros Proyectos</span>
      </div>
      <div class="our-projects-list-of-repositories">
        <a href="https://github.com/rustmx/book" class="h-full">
        <h2 class="project-card-header"><button class=
        "project-card-container">book</button></h2>
        <p class="project-card-description"><button class=
        "project-card-container">The Rust Programming
        Language</button></p>
        <div class="project-card-footer">
          <div class="h-5">
            <div class="project-card-lang-circle"></div>
          </div>
          <p><button class="project-card-container">No
          language</button></p>
        </div></a><a href="https://github.com/rustmx/team" class=
        "h-full">
        <h2 class="project-card-header"><button class=
        "project-card-container">team</button></h2>
        <p class="project-card-description"><button class=
        "project-card-container">Repositorio central del equipo de
        RustMX para la gestión de tareas y proyectos</button></p>
        <div class="project-card-footer">
          <div class="h-5">
            <div class="project-card-lang-circle"></div>
          </div>
          <p><button class="project-card-container">No
          language</button></p>
        </div></a><a href="https://github.com/rustmx/hello-json"
        class="h-full">
        <h2 class="project-card-header"><button class=
        "project-card-container">hello-json</button></h2>
        <p class="project-card-description"><button class=
        "project-card-container">Un ejemplo de JSON Response con
        Rust y Iron para las reuniones de RustMX</button></p>
        <div class="project-card-footer">
          <div class="h-5">
            <div class="project-card-lang-circle"></div>
          </div>
          <p><button class=
          "project-card-container">Rust</button></p>
        </div></a><a href=
        "https://github.com/rustmx/tweet-it-again-rs" class=
        "h-full">
        <h2 class="project-card-header"><button class=
        "project-card-container">tweet-it-again-rs</button></h2>
        <p class="project-card-description"><button class=
        "project-card-container">Tool to tweet the oldest update of
        an account and then delete the former</button></p>
        <div class="project-card-footer">
          <div class="h-5">
            <div class="project-card-lang-circle"></div>
          </div>
          <p><button class=
          "project-card-container">Rust</button></p>
        </div></a><a href="https://github.com/rustmx/rustday.mx"
        class="h-full">
        <h2 class="project-card-header"><button class=
        "project-card-container">rustday.mx</button></h2>
        <p class="project-card-description"><button class=
        "project-card-container">rustday.mx site
        sources</button></p>
        <div class="project-card-footer">
          <div class="h-5">
            <div class="project-card-lang-circle"></div>
          </div>
          <p><button class=
          "project-card-container">CSS</button></p>
        </div></a><a href=
        "https://github.com/rustmx/text-adventure" class="h-full">
        <h2 class="project-card-header"><button class=
        "project-card-container">text-adventure</button></h2>
        <p class="project-card-description"><button class=
        "project-card-container">Text adventure project for
        RustBridge sessions with several flavors</button></p>
        <div class="project-card-footer">
          <div class="h-5">
            <div class="project-card-lang-circle"></div>
          </div>
          <p><button class=
          "project-card-container">Rust</button></p>
        </div></a><a href=
        "https://github.com/rustmx/cryptocoin_scraper" class=
        "h-full">
        <h2 class="project-card-header"><button class=
        "project-card-container">cryptocoin_scraper</button></h2>
        <p class="project-card-description"><button class=
        "project-card-container">Scraps cryptocurrencies names and
        prices. Created for Rust workshops.</button></p>
        <div class="project-card-footer">
          <div class="h-5">
            <div class="project-card-lang-circle"></div>
          </div>
          <p><button class=
          "project-card-container">HTML</button></p>
        </div></a><a href=
        "https://github.com/rustmx/workshop-rocket-meetup008"
        class="h-full">
        <h2 class="project-card-header"><button class=
        "project-card-container">workshop-rocket-meetup008</button></h2>
        <p class="project-card-description"></p>
        <div class="project-card-footer">
          <div class="h-5">
            <div class="project-card-lang-circle"></div>
          </div>
          <p><button class=
          "project-card-container">Rust</button></p>
        </div></a><a href=
        "https://github.com/rustmx/rustmx.github.io" class=
        "h-full">
        <h2 class="project-card-header"><button class=
        "project-card-container">rustmx.github.io</button></h2>
        <p class="project-card-description"><button class=
        "project-card-container">RustMX site</button></p>
        <div class="project-card-footer">
          <div class="h-5">
            <div class="project-card-lang-circle"></div>
          </div>
          <p><button class="project-card-container">No
          language</button></p>
        </div></a><a href=
        "https://github.com/rustmx/club-de-estudio-rustmx" class=
        "h-full">
        <h2 class="project-card-header"><button class=
        "project-card-container">club-de-estudio-rustmx</button></h2>
        <p class="project-card-description"><button class=
        "project-card-container">Material para el club de estudio
        de Rust</button></p>
        <div class="project-card-footer">
          <div class="h-5">
            <div class="project-card-lang-circle"></div>
          </div>
          <p><button class=
          "project-card-container">HTML</button></p>
        </div></a><a href="https://github.com/rustmx/intro-rust"
        class="h-full">
        <h2 class="project-card-header"><button class=
        "project-card-container">intro-rust</button></h2>
        <p class="project-card-description"><button class=
        "project-card-container">Taller de introducción a
        Rust</button></p>
        <div class="project-card-footer">
          <div class="h-5">
            <div class="project-card-lang-circle"></div>
          </div>
          <p><button class=
          "project-card-container">HTML</button></p>
        </div></a><a href="https://github.com/rustmx/Charlas"
        class="h-full">
        <h2 class="project-card-header"><button class=
        "project-card-container">Charlas</button></h2>
        <p class="project-card-description"></p>
        <div class="project-card-footer">
          <div class="h-5">
            <div class="project-card-lang-circle"></div>
          </div>
          <p><button class="project-card-container">No
          language</button></p>
        </div></a><a href=
        "https://github.com/rustmx/issues-crawler" class="h-full">
        <h2 class="project-card-header"><button class=
        "project-card-container">issues-crawler</button></h2>
        <p class="project-card-description"><button class=
        "project-card-container">Proyecto de las sesiones de Train
        the Trainers 2020</button></p>
        <div class="project-card-footer">
          <div class="h-5">
            <div class="project-card-lang-circle"></div>
          </div>
          <p><button class=
          "project-card-container">Rust</button></p>
        </div></a><a href="https://github.com/rustmx/Chambas"
        class="h-full">
        <h2 class="project-card-header"><button class=
        "project-card-container">Chambas</button></h2>
        <p class="project-card-description"><button class=
        "project-card-container">Encuentra las chambas más
        interesantes sobre Rust aquí</button></p>
        <div class="project-card-footer">
          <div class="h-5">
            <div class="project-card-lang-circle"></div>
          </div>
          <p><button class="project-card-container">No
          language</button></p>
        </div></a><a href="https://github.com/rustmx/foro" class=
        "h-full">
        <h2 class="project-card-header"><button class=
        "project-card-container">foro</button></h2>
        <p class="project-card-description"><button class=
        "project-card-container">Foro para la comunidad de
        RustMX</button></p>
        <div class="project-card-footer">
          <div class="h-5">
            <div class="project-card-lang-circle"></div>
          </div>
          <p><button class="project-card-container">No
          language</button></p>
        </div></a>
      </div>
    </section>
    <section class="our-members-section">
      <div class="our-members-title-container">
        <span class="our-members-title">Miembros</span>
      </div>
      <ul class="our-members-list">
        <li class="contributor">
          <a href="https://github.com/VentGrey" target= "_blank">
            <img alt="VentGrey GitHub Profile Picture" src="https://avatars.githubusercontent.com/u/24773698?v=4" class="rounded-full" width="260" height="260">
          </a>
          <h1>Omar Jair Purata Funes</h1>
          <p class="contributor">DevOops @UpVent · 🦀 Rustacean · 🧠
          INTJ · FS activist 💻 · Keep your politics away from my
          code. Sysadmin by heart.</p>
        </li>
      </ul>
    </section>
  </div>
</body>
</html>
